<div class="header">
  <span class="title">Confirmation</span>
</div>

<div class="content">
  <span class="message"><%= message %></span>
</div>

<div class="footer">
  <ul class="actions">
    <li><a class="confirm" href="#"><%= action %></a></li>
    <li><a class="cancel" href="#">Cancel</a></li>
  </ul>
</div>
