<% content_for :content do %>
  <div class="page_content"></div>
  <div class="dialog_content"></div>
  <script type="text/javascript">
    $(function() {
      session = new MeetingLibs({
        administrator: <%= @administrator %>
      });
    });
  </script>
<% end %>
