<h2><%= title %></h2>
<ul class="inputs">
  <li>
    <label>First Name <input class="first_name" type="text" value="<%= participant.first_name %>" /></label>
  </li>
  <li>
    <label>Last Name <input class="last_name" type="text" value="<%= participant.last_name %>" /></label>
  </li>
  <li>
    <label>Email <input class="email" type="text" value="<%= participant.email %>" /></label>
  </li>
</ul>
<ul class="actions">
  <li><a class="submit" href="#">Save</a></li>
  <li><a class="cancel" href="/#">Cancel</a></li>
</ul>
