<ul class="event_list">
  <% _.each(events, function(event) { %>
    <% if (event.archived) { %>
      <li class="event archived" data-id="<%= event.id %>">
        <span class="name"><%= event.name %></span>
        <ul class="actions">
          <% if (session.administrator) { %>
            <li><a href="#" class="delete">Delete</a></li>
          <% } %>
        </ul>
      </li>
    <% } else { %>
      <li class="event" data-id="<%= event.id %>">
        <span class="name"><%= event.name %></span>
        <ul class="actions">
          <% if (session.administrator) { %>
            <li><a href="#" class="archive">Archive</a></li>
            <li><a href="#" class="delete">Delete</a></li>
          <% } %>
        </ul>
      </li>
    <% } %>
  <% }) %>
</ul>
