<h2>Add Host</h2>
<ul class="inputs">
  <li>
    <label>First Name <input class="first_name" type="text" /></label>
  </li>
  <li>
    <label>Last Name <input class="last_name" type="text" /></label>
  </li>
  <li>
    <label>Email <input class="email" type="text" /></label>
  </li>
  <li>
    <label>CalNet UID <input class="cas_user" type="text" /></label>
  </li>
  <li>
    <label>Login Token <input class="token" type="text" /></label>
  </li>
</ul>
<ul class="actions">
  <li><a class="submit" href="#">Add Host</a></li>
  <li><a class="cancel" href="/#events/<%= eventId %>/hosts">Cancel</a></li>
</ul>
